* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit, sans-serif;
}

.container {
    max-width: 300px;
    padding: 16px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

.container img {
    width: 100%;
    border-radius: 10px;
}

.text-container {
    font-family: Outfit, sans-serif;
    text-align: center;
    margin: 16px;
}

.text-container h1 {
    font-size: 18px;
}

.text-container p {
    margin: 20px 0;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

footer {
    text-align: center;
}