:root {
    --color-white: hsl(0, 0%, 100%);
    --color-lightblue: hsl(212, 45%, 89%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-lightblue);
    font-family: Outfit, sans-serif;
}

.container {
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: var(--color-white);
}

.container img {
    width: 100%;
    border-radius: 0.625rem;
}

.text-container {
    font-family: Outfit, sans-serif;
    text-align: center;
    margin: 1rem;
}

.text-container h1 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
}

.text-container p {
    margin: 1.25rem 0;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}

footer {
    text-align: center;
}